/include
/lib
/xcode/Cities-Box/DerivedData
/vs/.vs
*.ilk
*.pdb
*.res
vs/Cities Box.cpp/.vs/Cities Box.cpp/v16/ipch/AutoPCH/b66de22d9f4ec99c/BUTTON.ipch
vs/Cities Box.cpp/.vs/Cities Box.cpp/v16/Browse.VC.opendb
vs/Cities Box.cpp/.vs/Cities Box.cpp/v16/Browse.VC.db
