<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2019-12-10T17:04:28Z</date>
	<key>WorkspacePath</key>
	<string>/Users/tanimoto/Git/Cities-Box.cpp/xcode/Cities-Box/Cities Box.xcodeproj</string>
</dict>
</plist>
